@font-face {
  font-family: 'LocomotiveFontAwesome';
  src: url("/assets/font-awesome/fontawesome-webfont-e219ece8f4d3e4ac455ef31cd3a7c7b5057ea68a109937fc26b03c6e99ee9322.eot?v=4_4_0");
  src: url("/assets/font-awesome/fontawesome-webfont-e219ece8f4d3e4ac455ef31cd3a7c7b5057ea68a109937fc26b03c6e99ee9322.eot?#iefix&v=4_4_0") format("embedded-opentype"), url("/assets/font-awesome/fontawesome-webfont-ff82aeed6b9bb6701696c84d1b223d2e682eb78c89117a438ce6cfea8c498995.woff2?v=4_4_0") format("woff2"), url("/assets/font-awesome/fontawesome-webfont-c812ddc9e475d3e65d68a6b3b589ce598a2a5babb7afc55477d59215c4a38a40.woff?v=4_4_0") format("woff"), url("/assets/font-awesome/fontawesome-webfont-7b5a4320fba0d4c8f79327645b4b9cc875a2ec617a557e849b813918eb733499.ttf?v=4_4_0") format("truetype"), url("/assets/font-awesome/fontawesome-webfont-d67041fe5d50eef9ef671643968f7ce6b130eaaaaa2ce4d496b18d0a33aeb87b.svg?v=4_4_0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 22, /Users/michaelniepel/.rvm/gems/ruby-2.2.4/gems/locomotivecms-3.1.1/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-bar, #locomotive-highlighter-actions {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

/* line 30, /Users/michaelniepel/.rvm/gems/ruby-2.2.4/gems/locomotivecms-3.1.1/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-bar {
  background-color: yellow;
  width: 5px;
  min-height: 10px;
}

/* line 37, /Users/michaelniepel/.rvm/gems/ruby-2.2.4/gems/locomotivecms-3.1.1/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a {
  background: #1c77c3;
  background-image: none;
  border: none;
  border-bottom: 2px solid #165c96;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  max-height: 30px;
  line-height: 18px;
  margin: 0 10px 0 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 59, /Users/michaelniepel/.rvm/gems/ruby-2.2.4/gems/locomotivecms-3.1.1/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a:hover {
  background-color: #165c96;
  border-color: #0e3b61;
}
/* line 64, /Users/michaelniepel/.rvm/gems/ruby-2.2.4/gems/locomotivecms-3.1.1/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a i.locomotive-fa {
  display: inline-block;
  font: normal normal normal 14px/1 LocomotiveFontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
/* line 74, /Users/michaelniepel/.rvm/gems/ruby-2.2.4/gems/locomotivecms-3.1.1/app/assets/stylesheets/locomotive/live_editing_iframe.scss */
#locomotive-highlighter-actions > a i.locomotive-fa.locomotive-fa-pencil:before {
  content: "\f040";
}
